
.user-form-container {
    border-style:solid;
    border-radius: 10px;
    border-color: goldenrod;
    background-color: rgb(255, 185, 7);
    position:absolute;
    left: 40%;
    right: 40%;
    width: 195px;
    height: 200px;
    padding: 5px;
}

.user-form-label
{
    display:flex;
    justify-content:flex-start;
    margin: 5px 5px 5px 5px;
    
}

.user-form-input
{
    display:flex;
    justify-content: flex-start;
    margin: 5px 5px 5px 5px;
}

.submit-button
{
    display: flex;
    justify-content: flex-start;
    margin: 5px 5px 5px 5px;
}

.form-submit-button :first-child
{
    width: 185px;
}

.user-form-link-wrapper
{
    display: flex;
    justify-content: flex-start;
    margin: 5px 5px 5px 5px;
}
